namespace {Solution}.{Domain}.Contracts;

[Contract]
public abstract partial class {Entity}Base : IIdentifier<string?>
{
    [ReadOnly(true)]
    public string? Id { get; set; }

    public string? CustomerId { get; set; }

    [ReferenceData<{Entity}Status>]
    [Localization("{Entity} status")]
    public partial string? StatusCode { get; set; }

    public List<{ChildEntity}>? Items { get; set; }
}
