{
  "CoreEx": {
    "Host": {
      "SolutionName": "{Solution}",
      "DomainName": "{Domain}"
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
