namespace {Solution}.{Domain}.Application.Interfaces;

public interface I{Entity}Service
{
    Task<Contracts.{Entity}?> GetAsync(string id);

    Task<Contracts.{Entity}> CreateAsync(Contracts.{Entity} entity);

    Task<Contracts.{Entity}> UpdateAsync(Contracts.{Entity} entity);

    Task DeleteAsync(string id);
}
