namespace {Solution}.{Domain}.Application.Interfaces;

public interface I{Entity}ReadService
{
    Task<Contracts.{Entity}?> GetAsync(string id);

    Task<ItemsResult<{Entity}Lite>> QueryAsync(QueryArgs? query, PagingArgs? paging);
}
