<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>net9.0</TargetFramework>
    <Nullable>enable</Nullable>
    <ImplicitUsings>enable</ImplicitUsings>
    <RootNamespace>{Solution}.{Domain}.Domain</RootNamespace>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="CoreEx.DomainDriven" Version="*" />
  </ItemGroup>

</Project>
