# yaml-language-server: $schema=https://raw.githubusercontent.com/Avanade/DbEx/refs/heads/main/schema/dbex.json
schema: {domainKebab}
outbox: true
outboxName: outbox
tables:
# Reference-data (conditionally included when Reference Data = Yes)
- name: {entity_status_kebab}

# Transactional-data
- name: {entity_kebab}
# Conditionally include when Child Entity = Yes:
# - name: {child_entity_kebab}
