namespace {Solution}.{Domain}.Application.Repositories;

public interface I{Entity}Repository
{
    Task<Contracts.{Entity}?> GetAsync(string id);

    Task<DataResult<Contracts.{Entity}>> CreateAsync(Contracts.{Entity} entity);

    Task<DataResult<Contracts.{Entity}>> UpdateAsync(Contracts.{Entity} entity);

    Task<DataResult> DeleteAsync(string id);

    Task<ItemsResult<Contracts.{Entity}Lite>> QueryAsync(QueryArgs? query, PagingArgs? paging);
}
