-- Migration Script — Primary entity table.

BEGIN TRANSACTION

CREATE TABLE [{Domain}].[{Entity}] (
  [{Entity}Id]  NVARCHAR(50)   NOT NULL PRIMARY KEY,
  [StatusCode]  NVARCHAR(50)   NOT NULL,
  [CreatedBy]   NVARCHAR(250)  NULL,
  [CreatedOn]   DATETIMEOFFSET NULL,
  [UpdatedBy]   NVARCHAR(250)  NULL,
  [UpdatedOn]   DATETIMEOFFSET NULL,
  [RowVersion]  ROWVERSION     NOT NULL,
  [IsDeleted]   BIT            NOT NULL DEFAULT 0
);

COMMIT TRANSACTION
