global using {Solution}.{Domain}.Application.Interfaces;
global using CoreEx;
global using CoreEx.DependencyInjection;
global using CoreEx.Events;
global using CoreEx.Events.Subscribing;
global using CoreEx.Json;
global using CoreEx.Results;
global using CoreEx.Validation;
