namespace {Solution}.{Domain}.Infrastructure.Persistence;

public partial class {Entity} : ModelBase<string?>
{
    public string? CustomerId { get; set; }

    public string? StatusCode { get; set; }

    public virtual ICollection<{ChildEntity}> Items { get; set; } = [];
}
