namespace {Solution}.{Domain}.Infrastructure.Persistence;

public partial class {ChildEntity} : ModelBase<string?>
{
    public string? {Entity}Id { get; set; }

    public string? ProductId { get; set; }

    public decimal Quantity { get; set; }

    public decimal UnitPrice { get; set; }
}
