<Project Sdk="Microsoft.NET.Sdk">

  <ItemGroup>
    <PackageReference Include="CoreEx.Data" />
    <PackageReference Include="CoreEx.DomainDriven" />
    <PackageReference Include="CoreEx.RefData" />
    <PackageReference Include="CoreEx.Validation" />
  </ItemGroup>

  <ItemGroup>
    <ProjectReference Include="..\{Solution}.{Domain}.Contracts\{Solution}.{Domain}.Contracts.csproj" />
  </ItemGroup>

</Project>
